<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
        .custom-font{
            font-family: Montserrat, sans-serif;
        }
</style>

<footer class="blog-footer p-5" style="text-align: center; background-color: lightgrey;">
    <h4 class="lead display-7 custom-font">ABOUT US</h4>
    <p class="lead my-3 custom-font">VetCare.com aims to provide the best pet supplies at lowest price online worldwide.
    We constantly strive to offer hassle-free shopping experience by delivering best customer support and quality products at your doorstep.</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>  