{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
        .custom-font{
            font-family: Montserrat, sans-serif;
        }
        body{
            background-image: linear-gradient( -90deg, #2ba192 0%, #0a88f0b9 100%);
        }
        .custom-img{
            align-items: center;
        }
    </style>
{% endblock css %}
    

{% block content %}
<div class="container my-2">
    {% if messages %}
    {% for msg in messages %}
        {% if msg.tag == 'error' %}
            <p class="bg-danger text-white text-center round-sm p-3">{{msg}}</p>
        {% else %}
            <p class="bg-success text-white text-center round-sm p-3">{{msg}}</p>
        {% endif %}
    {% endfor %}   
    {% endif %}
    
    <div class="form-bg">
        <div class="row custom-img">
        <div class="col-lg-6 col-md-6 col-sl-12">
             <h1 class="text-center">Edit your Blog</h1>
             <form class="form-bg" method="POST" enctype="multipart/form-data" >
                 {% csrf_token %}
                 {{form|crispy}}
                 <button class="btn btn-primary btn-lg btn-block">Repost</button>
             </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sl-12">
            <img class="img-fluid" src="#" alt="">
        </div>
 </div>
</div>
  </div>
{% endblock content %}