{% extends 'layout/base.html' %}


{% block content %}
<div class="jumbotron jumbotron-fluid text-center p-5">
    <div class="container">
        <h1 class="display-4 custom-font">Search Results for "{{query}}"</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 custom-font">
            <p>search got <b>{{results|length}}</b> results</p>
            {% for item in results %}
            <div class="card my-4">
                <div class="row">
                    <div class="col-1">
                        <img src="{{item.image.url}}" class="img-thumbnail" width="100%" alt="">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">{{item.title}}</h5>
                            <p class="card-text">{{item.details|truncatechars:150}}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'detailed_blog' item.id %}" class="card-link">view article</a>
                </div>
            </div>
            {% empty %}
            <h3>No results found for {{query}}</h3>
            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock content %}
